.header {
    color: chartreuse;
    font-style: italic;
}

h3 {
    font-style: italic;
    color: slateblue
}

.container {
    position: center; 
    width: 400px; 
    height: 460px;
    margin: auto;
}

.frame {
    border: 3px solid #4287f5;
}
